body {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-top: 2%;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.card {
    text-align: center;
}

.card img {
    width: 250px;          /* même taille pour les deux images */
    height: 250px;
    object-fit: cover;     /* évite la déformation */
    border-radius: 5px;
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.liste_sebou {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}