body {
    margin: 0;
    padding: 0;
    background-color: #313338;
}



/* .title {
    text-align: center;
    margin-top: 2%;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.card {
    text-align: center;
}

.photo img{
    width: 250px;
    height: 250px;
}
.card img {
    width: 250px;          /* même taille pour les deux images */
    height: 250px;
    object-fit: cover;     /* évite la déformation */
    border-radius: 5px;
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2%;
}

.liste_sebou {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 2%;
}

.liste {
    display: flex;
    justify-content: center;
}



.presentation2 {
    background-color: white;
    
}
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .burger {
        display: block;
    }
    .burger img {
        width: 30px;
    }

   

   
} */